<div class="pit-about">
  <div class="pit-about__header">
    <div class="pit-about__header-title-container">
      <span>About the event</span>
    </div>
    <div class="pit-about__header-subtitle-container">
      Learn more about the event and also the Frequently asked questions
    </div>
  </div>
  <div class="pit-about__body">
    <p class="pit-about__title">
      What is PITCON 2019?
    </p>
    <p class="pit-about__content">
      <span class="pit-about__content-header">The PITCON 2019 project is a seminar that will cover some industry
        standard skills needed to prepare the students
        in entering the IT-BPO industry.</span>
      <br><br>
      • I.T. students should understand the importance of developing such skills to prevent job-skills mismatch and
      unemployment.
      <br>
      • The knowledge obtained from seminars play a key-role not only in developing our country's I.T.
      infrastructure
      but also to the career path of the students.
      <br>
      • Most big and international I.T. events and speakers can only be reached in Manila with ticket prizes ranging
      from Php2,500.00 or more, plus add the expenses of transportation and hotel accommodation. Why not bring these
      big
      international speakers locally? That is cheaper, safer, and more effective!
      <br>
      • Some local I.T. events do not focus on the program and venue. I.T. events similar to the setup in Manila
      should
      have a venue that is conducive to learning and learning should be fun through activities and prizes. A seminar
      without the fun is proven to be ineffective to learning.
    </p>
    <p class="pit-about__title">
      Frequently Asked Questions:
    </p>
    <div class="pit-about__content">
      <accordion [isAnimated]="true">
        <accordion-group panelClass="faq-item" heading="How much is the ticket?">
          Each ticket cost: 700 php
        </accordion-group>
        <accordion-group panelClass="faq-item" heading="When and where is the event?">
          The event is on November 17, 2019 at Sison Auditorium, Lingayen Pangasinan.
          <br>
          With the theme: <i>Breaking Walls & Buildings Bridges | Connecting the I.T. Experts in Today’s Technology</i>
        </accordion-group>
        <accordion-group panelClass="faq-item" heading="Why Attend the Event?">
          <h5>a. Cost and Advocacy:</h5>
          I.T. events cost a lot of money - thousands of pesos. Aside from that, add the miscellaneous expenses like
          food, accommodation, and transportation since most of these events are always held in the Metro. With ITMG’s
          advocacy, PITCON’s ticket prices are minimized without sacrificing the fun and learning experience for each
          participant.
          <br><br>
          <h5>b. Community:</h5>
          It is proven that the areas with active I.T. community are also the same areas with better I.T. skills and
          performance. That is because of the initiatives like Code Camps, Hackathons, etc. that are very easy to
          reach.
          Supporting PITCON is the same as supporting ITMG to grow and provide more and better events for the benefit
          of
          not only the students but also to the local community as well.
          <br><br>
          <h5>c. Get the Skills:</h5>
          In-line to the core values of ITMG, PITCON is a series of topics that are very much timely to help the
          students enter the I.T. industry based on what is standard and needed. Effectivity is our goal that is why
          instead of the traditional conference setup, PITCON presents a whole day workshop with student output and
          interaction. That will ensure us that after each event day; students have basic knowledge on some of the
          skills needed to enter the I.T. industry.
        </accordion-group>
      </accordion>
    </div>
  </div>

</div>
