<div class="pit-teams">
  <div class="pit-teams__header">
    <div class="pit-teams__header-title-container">
      <span>Our Amazing Team</span>
    </div>
    <div class="pit-teams__header-subtitle-container">
      PITCON 2019 would not be possible without the help of the fantastic Core Team.
    </div>
  </div>
  <div class="pit-teams__body">
    <div class="pit-teams__core-team">
      <p>Core Team</p>
    </div>
    <div class="pit-teams__body-container">
      <div class="pit-teams__body-speaker-item" *ngFor="let speaker of teamMembers; let i = index;"
        (click)="showSpeaker(speaker)">
        <div class="pit-teams__body-speaker-picture">
          <img [src]="speaker.imageUrl" [alt]="speaker.name" class="pit-teams__body-speaker-profile-picture">
        </div>
        <div class="pit-teams__body-speaker-name" [innerHTML]="speaker.name | safeHtml"></div>
        <div class="pit-teams__body-speaker-job" [innerHTML]="speaker.jobTitle"></div>
      </div>
    </div>
    <div class="pit-teams__core-team">
      <p>Site Creator</p>
    </div>
    <div class="pit-teams__body-container">
      <div class="pit-teams__body-speaker-item background-success" (click)="showSpeaker(siteCreator)">
        <div class="pit-teams__body-speaker-picture">
          <img [src]="siteCreator.imageUrl" [alt]="siteCreator.imageUrl"
            class="pit-teams__body-speaker-profile-picture">
        </div>
        <div class="pit-teams__body-speaker-name" [innerHTML]="siteCreator.name"></div>
        <div class="pit-teams__body-speaker-job" [innerHTML]="siteCreator.jobTitle"></div>
        <p>
          <a href="https://www.linkedin.com/in/stephen-vinuya-54441b106/" target="_blank"><i class="fab fa-linkedin"
              style="color: #000000;"></i></a>&nbsp;
          <a href="https://www.facebook.com/stephen.vinuya" target="_blank"><i class="fab fa-facebook-square"
              style="color: #000000;"></i></a>&nbsp;
          <a href="https://twitter.com/onecompileman" target="_blank"><i class="fab fa-twitter-square"
              style="color: #000000;"></i></a>
        </p>
      </div>
    </div>
  </div>
</div>
