@import '~src/assets/scss/theme-config';

body::-webkit-scrollbar {
  width: 5px;
  background-color: $light2;
  padding: 0 !important;
}

body::-webkit-scrollbar-track {
  background: none;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
}

* {
  font-family: 'Arial Narrow';
}

.primary {
  color: $primary;
}

.success {
  color: $success !important;
}

.light {
  color: $light;
}

.dark {
  color: $dark;
}

.background-success {
  background-color: $primary !important;
  color: $dark;
}
