<div class="pit-speakers">
  <div class="pit-speakers__header">
    <div class="pit-speakers__header-title-container">
      <span>Our Speakers</span>
    </div>
    <div class="pit-speakers__header-subtitle-container">
      Get inspired by our amazing list of speakers. With Google Developer Experts (GDE), Microsoft <br>
      Most Valuable Professionals (MVP), speaker's coming from big companies like Mozzila.
    </div>
  </div>
  <div class="pit-speakers__body">
    <div class="pit-speakers__body-container">
      <div class="pit-speakers__body-speaker-item" *ngFor="let speaker of speakers; let i = index;"
        (click)="showSpeaker(speaker)">
        <div class="pit-speakers__body-speaker-picture">
          <img [src]="speaker.imageUrl" [alt]="speaker.name" class="pit-speakers__body-speaker-profile-picture">
        </div>
        <div class="pit-speakers__body-speaker-name" [innerHTML]="speaker.name | safeHtml">
        </div>
        <div class="pit-speakers__body-speaker-job" [innerHTML]="speaker.jobTitle">
        </div>
      </div>
    </div>
  </div>
</div>
