<div class="pit-speakers">
  <div class="pit-speakers__header">
    <div class="pit-speakers__header-title-container">
      <span>Our Speakers</span>
    </div>
    <div class="pit-speakers__header-subtitle-container">
      Get inspired by our amazing list of speakers. With Google Developer Experts (GDE), Microsoft <br>
      Most Valuable Professionals (MVP), speaker's coming from big companies like Mozzila.
    </div>
  </div>
  <div class="pit-speakers__body">
    <div class="pit-speakers__body-container">
      <div class="pit-speakers__body-speaker-item" (click)="showSpeaker()">
        <div class="pit-speakers__body-speaker-picture">
          <img src="assets/img/profile.png" alt="Stephen Vinuya" class="pit-speakers__body-speaker-profile-picture">
        </div>
        <div class="pit-speakers__body-speaker-name">
          Stephen Vinuya
        </div>
        <div class="pit-speakers__body-speaker-job">
          Team Lead at FFUF Manila | MVP
        </div>
        <p>
          <i class="fab fa-linkedin" style="color: #f0f0f0;"></i>&nbsp;
          <i class="fab fa-facebook-square" style="color: #f0f0f0;"></i>&nbsp;
          <i class="fab fa-twitter-square" style="color: #f0f0f0;"></i>
        </p>
      </div>
      <div class="pit-speakers__body-speaker-item">
        <div class="pit-speakers__body-speaker-picture">
          <img src="assets/img/profile.png" alt="Stephen Vinuya" class="pit-speakers__body-speaker-profile-picture">
        </div>
        <div class="pit-speakers__body-speaker-name">
          Stephen Vinuya
        </div>
        <div class="pit-speakers__body-speaker-job">
          Team Lead at FFUF Manila | MVP
        </div>
        <p>
          <i class="fab fa-linkedin" style="color: #f0f0f0;"></i>&nbsp;
          <i class="fab fa-facebook-square" style="color: #f0f0f0;"></i>&nbsp;
          <i class="fab fa-twitter-square" style="color: #f0f0f0;"></i>
        </p>
      </div>
      <div class="pit-speakers__body-speaker-item">
        <div class="pit-speakers__body-speaker-picture">
          <img src="assets/img/profile.png" alt="Stephen Vinuya" class="pit-speakers__body-speaker-profile-picture">
        </div>
        <div class="pit-speakers__body-speaker-name">
          Stephen Vinuya
        </div>
        <div class="pit-speakers__body-speaker-job">
          Team Lead at FFUF Manila | MVP
        </div>
        <p>
          <i class="fab fa-linkedin" style="color: #f0f0f0;"></i>&nbsp;
          <i class="fab fa-facebook-square" style="color: #f0f0f0;"></i>&nbsp;
          <i class="fab fa-twitter-square" style="color: #f0f0f0;"></i>
        </p>
      </div>
      <div class="pit-speakers__body-speaker-item">
        <div class="pit-speakers__body-speaker-picture">
          <img src="assets/img/profile.png" alt="Stephen Vinuya" class="pit-speakers__body-speaker-profile-picture">
        </div>
        <div class="pit-speakers__body-speaker-name">
          Stephen Vinuya
        </div>
        <div class="pit-speakers__body-speaker-job">
          Team Lead at FFUF Manila | MVP
        </div>
        <p>
          <i class="fab fa-linkedin" style="color: #f0f0f0;"></i>&nbsp;
          <i class="fab fa-facebook-square" style="color: #f0f0f0;"></i>&nbsp;
          <i class="fab fa-twitter-square" style="color: #f0f0f0;"></i>
        </p>
      </div>
      <div class="pit-speakers__body-speaker-item">
        <div class="pit-speakers__body-speaker-picture">
          <img src="assets/img/profile.png" alt="Stephen Vinuya" class="pit-speakers__body-speaker-profile-picture">
        </div>
        <div class="pit-speakers__body-speaker-name">
          Stephen Vinuya
        </div>
        <div class="pit-speakers__body-speaker-job">
          Team Lead at FFUF Manila | MVP
        </div>
        <p>
          <i class="fab fa-linkedin" style="color: #f0f0f0;"></i>&nbsp;
          <i class="fab fa-facebook-square" style="color: #f0f0f0;"></i>&nbsp;
          <i class="fab fa-twitter-square" style="color: #f0f0f0;"></i>
        </p>
      </div>
    </div>
  </div>
</div>
