@import '~src/assets/scss/config';
@import '~src/assets/scss/theme-config';

.#{$style-prefix}-speakers {
  &__header {
    width: 100%;
    height: 420px;
    background-image: url('/assets/img/background.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-title-container {
      margin-top: 180px;
      background-color: rgba(0, 0, 0, 0.8);
      padding: 15px;
      padding-left: 20px;
      padding-right: 20px;
      width: auto;
      min-width: 200px;
      font-size: 4vw;
      font-weight: bold;
      display: flex;
      justify-content: center;
      color: $primary;

      @media screen and (max-width: 640px) {
        font-size: 22px;
      }

      @media screen and (min-width:1020px) {
        font-size: 35px;
      }
    }

    &-subtitle-container {
      margin-top: 20px;
      background-color: rgba(0, 0, 0, 0.9);
      padding: 15px;
      padding-left: 15px;
      padding-right: 15px;
      width: auto;
      min-width: 200px;
      font-size: 18px;
      color: $light;

      @media screen and (max-width: 640px) {
        font-size: 16px;
      }

    }
  }

  &__body {
    min-height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    color: $light;

    &-container {
      width: 80%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-flow: row wrap;

      @media screen and (max-width: 640px) {
        width: 100%;
        justify-content: center;
      }
    }

    &-speaker-item {
      margin: 20px;
      width: 25%;
      min-width: 280px;
      background-color: $danger;
      box-shadow: 5px 5px $dark;
      height: 320px;
      padding: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;
    }

    &-speaker-picture {
      margin-top: 15px;
      width: 160px;
      max-width: 220px;
      overflow: hidden;
      border-radius: 100%;
    }

    &-speaker-profile-picture {
      height: auto;
      width: 100%;
    }

    &-speaker-job {
      text-align: center;
      font-size: 14px;
    }

    &-speaker-name {
      margin-top: 30px;
      font-size: 16px;
      font-weight: bold;
      text-align: center;
    }
  }
}
