 <div class="pit-footer">
   <div class="pit-footer__description">
     <div class="pit-footer__description-item">
       <span class="pit-footer__app-title">
         <span class="light">PIT</span><span class="success">CON</span> 2019
       </span>
       <p>The Biggest I.T. Seminar in Region 1.
         "Breaking walls & Buildings Bridges | Connecting the L.T. Experts in
         Today's Technology"</p>
       <p>Follow us:</p>
       <p>
         <a href="https://facebook.com/events/672764789888497/" target="_blank"><i class="fab fa-facebook-square"
             style="color: #f0f0f0;"></i></a>&nbsp;
       </p>
     </div>
     <div class="pit-footer__description-item">
       <span class="pit-footer__buy-text">What are you waiting for ?</span>
       <a href="https://docs.google.com/forms/d/e/1FAIpQLScT120pXixoqTtrbnTUO6hHMCVjkltwHfiro86A3Z5xOK5Yfg/viewform"
         target="_blank" class="nav-item nav-link pit-footer__buy-ticket btn btn-danger">
         Buy Tickets
       </a>
     </div>
   </div>
   <div class="pit-footer__trademark">
     <span>
       <span class="light">PIT</span><span class="success">CON</span> <span class="light">©</span> 2019 |
       <a>Team</a>
     </span>
   </div>
 </div>
