<div class="pit-home">
  <div class="pit-home__header">
    <div class="pit-home__front-container">
      <img class="pit-home__logo" src="assets/img/logo.png" alt="Pitcon Logo">
      <div class="pit-home__theme">
        Breaking Walls & Buildings Bridges | Connecting the I.T. Experts in Today’s Technology
      </div>
      <div class="pit-home__location">
        <span>
          Sison Auditorium, Lingayen Pangasinan
        </span>
      </div>
      <div class="pit-home__caption-container">
        <span>
          The <span class="primary">Biggest I.T. Seminar</span> in Region 1 is Here!
        </span>
      </div>
    </div>
    <div class="pit-home__countdown-wrapper">
      <div class="pit-home__countdown-title">
        Countdown before the event
      </div>
      <div class="pit-home__countdown-container">
        <div class="pit-home__countdown-blocks">
          <div class="pit-home__countdown-item">
            <span *ngIf="(countdown$ | async) as countdown">
              {{ countdown.days }}
            </span>
          </div>
          <p class="pit-home__countdown-block-footer-text">Days</p>
        </div>
        <div class="pit-home__countdown-divider">
          :
        </div>
        <div class="pit-home__countdown-blocks">
          <div class="pit-home__countdown-item">
            <span *ngIf="(countdown$ | async) as countdown">
              {{ countdown.hours }}
            </span>
          </div>
          <p class="pit-home__countdown-block-footer-text">Hours</p>
        </div>
        <div class="pit-home__countdown-divider">
          :
        </div>
        <div class="pit-home__countdown-blocks">
          <div class="pit-home__countdown-item">
            <span *ngIf="(countdown$ | async) as countdown">
              {{ countdown.minutes }}
            </span>
          </div>
          <p class="pit-home__countdown-block-footer-text">Minutes</p>
        </div>
        <div class="pit-home__countdown-divider">
          :
        </div>
        <div class="pit-home__countdown-blocks">
          <div class="pit-home__countdown-item">
            <span *ngIf="(countdown$ | async) as countdown">
              {{ countdown.seconds }}
            </span>
          </div>
          <p class="pit-home__countdown-block-footer-text">Seconds</p>
        </div>

      </div>
    </div>

  </div>
  <div class="pit-home__intro">
    <div class="pit-home__intro-title">
      About the event
    </div>
    <div class="pit-home__intro-body">
      <div class="pit-home__intro-body-content">
        <div class="pit-home__intro-stats">
          <div class="pit-home__stats-block">
            <span>5</span>
            <span>Speakers</span>
          </div>
          <div class="pit-home__stats-block">
            <span>500+</span>
            <span>Attendees</span>
          </div>
          <div class="pit-home__stats-block">
            <span>1</span>
            <span>Venue</span>
          </div>
          <div class="pit-home__stats-block">
            <span>5</span>
            <span>Organizers</span>
          </div>
        </div>
        <div class="pit-home__intro-context">
          <p class="pit-home__intro-question">
            What is PIT<span class="primary">CON</span> 2019?
          </p>
          <p class="pit-home__intro-content">
            PITCON 2019 is the biggest I.T. Seminar in Region 1 with theme of "Breaking walls &
            Buildings Bridges | Connecting the L.T. Experts in Today's Technology". Attendees of
            the event will get to enjoy certificates, prizes, am/pm snacks and lunch!
          </p>
          <p class="pit-home__intro-content">
            Most big and international I.T. events and speakers can only be reached in Manila with ticket prizes
            ranging from Php2,500.00 or more, plus add the expenses of transportation and hotel accommodation. Why not
            bring these big international speakers locally? That is cheaper, safer, and more effective!
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class=" pit-home__speakers">
    <div class="pit-home__speakers-title">
      Speakers
    </div>
    <div class="pit-home__speaker-profile">
      <div class="pit-home__speaker-profile-wrapper">
        <div class="pit-home__speaker-picture-container">
          <img [src]="randomSpeaker.imageUrl" [alt]="randomSpeaker.name" class="pit-home__speaker-profile-picture">
        </div>
        <span class="pit-home__speaker-name" [innerHTML]="randomSpeaker.name | safeHtml">
        </span>
        <div class="pit-home__speaker-job-title" [innerHTML]="randomSpeaker.jobTitle">
        </div>
        <p>
          <!-- <a href="https://www.linkedin.com/in/stephen-vinuya-54441b106/" target="_blank"><i class="fab fa-linkedin"
              style="color: #f0f0f0;"></i></a>&nbsp;
          <a href="https://facebook.com/stephen.vinuya" target="_blank"><i class="fab fa-facebook-square"
              style="color: #f0f0f0;"></i></a>&nbsp; -->
        </p>
      </div>

      <div class="pit-home__speaker-picture-caption">

        <p class="pit-home__speaker-bio" *ngIf="randomSpeaker.aboutJob" [innerHTML]="randomSpeaker.aboutJob">
        </p>
        <p class="pit-home__speaker-bio" *ngIf="randomSpeaker.about && !randomSpeaker.aboutJob"
          [innerHTML]="randomSpeaker.about">
        </p>
      </div>
    </div>
    <div class="pit-home__speaker-footer">
      <a [routerLink]="['/speakers']" class="btn btn-primary">
        View all speakers
      </a>
    </div>
  </div>
  <div class="pit-home__sponsors">
    <div class="pit-home__sponsors-title">
      Sponsors
    </div>
    <div class="pit-home__sponsors-body">
      <div class="pit-home__sponsors-block">
        <div class="pit-home__sponsors-block-header">
          Ultimate Sponsors
        </div>
        <div class="pit-home__sponsors-block-body">
          <img
            src="https://www.stevejgordon.co.uk/wp-content/uploads/2017/11/MVP_Logo_Horizontal_Preferred_Cyan300_RGB_300ppi-750x303.png"
            alt="Microsoft" class="pit-home__sponsors-block-item">
        </div>
      </div>
    </div>
    <div class="pit-home__sponsors-body">
      <div class="pit-home__sponsors-block">
        <div class="pit-home__sponsors-block-header">
          Main Sponsors
        </div>
        <div class="pit-home__sponsors-block-body">
          <span class="pit-home__sponsors-block-item">Sison Auditorium</span>
        </div>
      </div>
    </div>
  </div>
</div>
