<div class="pit-speaker-profile">
  <h4 class="modal-title pull-left">{{title}}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="pit-speaker-profile__speaker-profile">
    <div class="pit-speaker-profile__speaker-profile-wrapper">
      <div class="pit-speaker-profile__speaker-picture-container">
        <img [src]="speaker.imageUrl" [alt]="speaker.name" class="pit-speaker-profile__speaker-profile-picture">
      </div>
      <span class="pit-speaker-profile__speaker-name" [innerHTML]="speaker.name | safeHtml">
      </span>
      <div class="pit-speaker-profile__speaker-job-title" [innerHTML]="speaker.jobTitle">
      </div>
      <!-- <p>
        <i class="fab fa-linkedin" style="color: #f0f0f0;"></i>&nbsp;
        <i class="fab fa-facebook-square" style="color: #f0f0f0;"></i>&nbsp;
        <i class="fab fa-twitter-square" style="color: #f0f0f0;"></i>
      </p> -->
    </div>

    <div class="pit-speaker-profile__speaker-picture-caption">
      <p class="pit-speaker-profile__speaker-bio" *ngIf="speaker.aboutJob" [innerHTML]="speaker.aboutJob">
      </p>
      <p class="pit-speaker-profile__speaker-bio" *ngIf="speaker.about" [innerHTML]="speaker.about">
      </p>
    </div>
  </div>
</div>
